/.venv
/venv
.env
server/__pycache__/database_setup.cpython-312.pyc
server/__pycache__/db_helper_functions.cpython-312.pyc
server/__pycache__/server.cpython-38.pyc
server/__pycache__/server.cpython-312.pyc
server/__pycache__/swagger_setup.cpython-312.pyc